body {
                background: #ededed;
            }

            header h1 small:before  {
                content: "|";
                margin: 0 0.5em;
                font-size: 1.6em;
            }

            .highlight {
                clear: none;
            }

            .highlight-wrapper {
                overflow: hidden; /* this is really important to make the float work */
            }

            .pub {
                width: 300px;
            }

            .pub a {
                display: block;
            }

            footer {
                background: #ccc;
            }

            @media screen and (min-width: 1261px) {
                /* xlarge */
                .highlight {
                    /* create the needed space for the fixed width column */
                    padding-right: 20.75em;
                }
            }

            @media screen and (min-width: 961px) and (max-width: 1260px) {
                /* large */
                .highlight {
                    /* create the needed space for the fixed width column */
                    padding-right: 20.75em;
                }
            }

            @media screen and (min-width: 641px) and (max-width: 960px) {
                /* medium */
                .highlight {
                    padding-right: 0;
                }
            }

            @media screen and (min-width: 321px) and (max-width: 640px) {
                /* small */
                .highlight {
                    padding-right: 0;
                }
            }

            @media screen and (max-width: 320px) {
                /* tiny */
                .highlight {
                    padding-right: 0;
                }
            }
