{% include 'core/doctype.html.twig' %}

{% include 'core/head.html.twig' %}

<section class="pub hide-all show-large show-xlarge xlarge-push-right large-push-right">
    <div class="column-group gutters">
    <h2>Related</h2>
    <ul class="unstyled">
        <li class="column-group half-gutters">
            <div class="all-40 small-50 tiny-50"><img src="holder.js/640x380/auto/ink" alt=""></div>
            <div class="all-60 small-50 tiny-50"><p>"Where's them crabs, Hoo-Hoo?" Edwin demanded. "Granser's set upon  having a snack."</p></div>
        </li>
        <li class="column-group half-gutters">
            <div class="all-40 small-50 tiny-50"><img src="holder.js/640x380/auto/ink" alt=""></div>
            <div class="all-60 small-50 tiny-50"><p>"Where's them crabs, Hoo-Hoo?" Edwin demanded. "Granser's set upon  having a snack."</p></div>
        </li>
        <li class="column-group half-gutters">
            <div class="all-40 small-50 tiny-50"><img src="holder.js/640x380/auto/ink" alt=""></div>
            <div class="all-60 small-50 tiny-50"><p>"Where's them crabs, Hoo-Hoo?" Edwin demanded. "Granser's set upon  having a snack."</p></div>
        </li>
        <li class="column-group half-gutters">
            <div class="all-40 small-50 tiny-50"><img src="holder.js/640x380/auto/ink" alt=""></div>
            <div class="all-60 small-50 tiny-50"><p>"Where's them crabs, Hoo-Hoo?" Edwin demanded. "Granser's set upon  having a snack."</p></div>
        </li>
        <li class="column-group half-gutters">
            <div class="all-40 small-50 tiny-50"><img src="holder.js/640x380/auto/ink" alt=""></div>
            <div class="all-60 small-50 tiny-50"><p>"Where's them crabs, Hoo-Hoo?" Edwin demanded. "Granser's set upon  having a snack."</p></div>
        </li>
    </ul>
    </div>
    <p>
        "Red is not the right word," was the reply. "The plague was scarlet.  The whole face and body turned scarlet in an hour's time. Don't I  know? Didn't I see enough of it? And I am telling you it was scarlet  because&mdash;well, because it was scarlet. There is no other word for it."
    </p>
</section>

<section class="highlight">
    <div class="highlight-wrapper">
      {% block content %}{% endblock %}
    </div>
</section>
</div>
{% include 'core/footer.html.twig' %}
