{% include 'core/doctype.html.twig' %}

{% include 'core/head.html.twig' %}

<section class="pub hide-all show-large show-xlarge xlarge-push-right large-push-right">
    <div class="column-group gutters">
        <a href="#" class="all-100 mrec"><img src="../assets/js/holder.js/300x250/ink/auto/text: MREC PUB" /></a>
        <div class="all-50"><img src="../assets/js/holder.js/300x250/ink/auto/text: PUB" /></div>
        <div class="all-50"><img src="../assets/js/holder.js/300x250/ink/auto/text: PUB" /></div>
    </div>
    <p>
        "Red is not the right word," was the reply. "The plague was scarlet.  The whole face and body turned scarlet in an hour's time. Don't I  know? Didn't I see enough of it? And I am telling you it was scarlet  because&mdash;well, because it was scarlet. There is no other word for it."
    </p>
</section>

<section class="highlight">
    <div class="highlight-wrapper">
      {% block content %}{% endblock %}
    </div>
</section>


{% include 'core/footer.html.twig' %}
